*{
    text-align: center;
    margin: 0;
    background-color: rgb(71, 188, 255);
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color:rgb(71, 188, 255) ;
}
.links{
    margin: 14px;
    width: 25%;
    display: inline-block;
}
#heee{
    font-family: 'Aboreto', cursive;
    margin: 14px;
    text-decoration: underline;
}
#intro h1{
    font-family: 'Aboreto', cursive;
    margin: 14px;
}
#intro h3{
    font-weight: 500;
}
#main-img{
    width: 40%;
    border: dotted 4px white;
    border-radius: 50%;
}
#intro  p{
    background-color: antiquewhite;
    width: 70%;
    padding: 14px;
    margin: auto;
    font-family: 'Aboreto', cursive;
    margin-bottom:14px
    
}
.dark{
    border: red 4px solid;
}
.box{
    border: white 4px solid;
    width: 90%;
    margin:  auto;
    justify-content: center;
}
.white{
    border: white solid 5px;
}
#imp{
    color: red;
    margin-bottom: 14px;
    padding: 15px;
    background-color: black;
}
#siiiu{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
#hwhw{
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
}
.box p{
    align-self: center;
    padding: 10px;
}
.border{
    border: solid 4px white;
    margin: 4px;
    box-shadow: 10px 10px 9px;
}
.boxtwo{
    border: white 4px solid;
    width: 90%;
    margin: auto;
}
.boxtwo h2{
    margin-top: 13px;
}
.flex{
    display: flex;
    
}
#gallery{
margin-top:14px
}
footer{
    background-color: white;
    color: rgb(71, 188, 255);
    padding: 10px;
}
.icons{
    background-color: white;
    width: 5%;
    margin: 5px;
}
.iconx{
    background-color: white;
}





